<%- include('../partials/subjectPartials/header') -%>
<%- include('../partials/nav') -%>
<!-- <h3>This is the page users see when they click on the <%= subjectLink %> link on the home page.</h3>
<small>This page would show all the <%= subject  %> TOPICS available to read</small>

<ol>
  <li>Decide what are the <%= subject  %> topics i want to feature on this site </li>
  <li>Design and style the page based on the topics featured</li>
</ol>

<small>These are the topics: </small>
<% topics.forEach((topic, i) => { %>
  <a href="/topic/<%= topic %>"> <%= topic %> </a>
<% }); %> -->

<div class="container mt-5" id="icon-header">
  <% if (subjectLink == 'FRONT') { %>
    <i class="fas fa-swatchbook mb-3" id="front-icon-subject-page"></i>
  <% } else { %>
    <i class="fas fa-server mb-3" id="back-icon-subject-page"></i>
  <% } %>
  <h3 id="subject-header"> <%= subjectLink %> </h3>

  <div class="container mt-5" id="topics">
    <!-- <h5>Topics:</h5> -->
    <% topics.forEach((topic, i) => { %>
      <div class=" p-2 mb-3" id="topic-cards">
        <a id="topic-link" href="/topic/<%= topic %>"> <%= topic %> </a>
      </div>
    <% }); %>
  </div>

  <div class="container">
    <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</small>
  </div>
  
</div>

<%- include('../partials/subjectPartials/footer') -%>
